.border {
  border: 1px solid rgb(38, 46, 55);
  padding: 3px;
  width: 400px;
  margin-bottom: 10px;
}
input {
  font-weight: bold;

  background-color: bisque;
}
p {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.btnSumit {
  background-color: bisque;
  color: black;
  width: 120px;
  padding: 5px 7px;
  border-radius: 4px;
}
.btnSumit:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
  width: 120px;
  padding: 5px 7px;
  border-radius: 4px;
}
.parent {
  background-color: black;
  margin: auto;
  padding: 30px;
  width: 500px;
  height: auto;
  background-image: url("https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
}
.overall {
  background-image: url("https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  height: 100vh;
}
